<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module</p>
</div>

<div class="grid ">

  <div class="col md:col-6">
    <p-fieldset legend="i18nSelect" [toggleable]="true">
      <p>Saludos {{nombre}}, es un placer {{genero | i18nSelect:invitacionMapa}} a nuestro evento.</p>
      <button (click)="cambiarCliente()" pButton label="Cambiar persona" class="p-button-rounded"></button>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="i18nPlural" [toggleable]="true">
      <p>Actualmente {{clientes.length | i18nPlural:clientesMapa}}</p>
      <button (click)="borrarCliente()" pButton label="Borrar clientes" class="p-button-rounded"></button>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="Slice" [toggleable]="true">
      <b>Original</b>
      <pre>{{clientes}}</pre>
      <b>slice:0:2</b>
      <pre>{{clientes | slice:0:2}}</pre>
      <b>slice:1:2</b>
      <pre>{{clientes | slice:1:2}}</pre>
      <b>slice:1:3</b>
      <pre>{{clientes | slice:1:3}}</pre>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="KeyValue" [toggleable]="true">
      <ul>
        <li *ngFor="let item of persona |keyvalue">
          <b>{{item.key | titlecase}}:</b> {{item.value | titlecase}}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="Json" [toggleable]="true">
      <pre>{{heroes | json}}</pre>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="Async" [toggleable]="true">
      <div *ngIf="!(miObservable | async)">
        <div class="grid">
          <p>Resolviendo Observable...</p>
          <br>
          <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        </div>
      </div>
      <pre>{{miObservable | async}}</pre>

      <div *ngIf="!(valorPromesa | async)">
        <div class="grid">
          <p>Resolviendo promesa...</p>
          <br>
          <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        </div>
      </div>
      <pre>{{valorPromesa | async}}</pre>
    </p-fieldset>
  </div>

</div>
